/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-timeline-entry{
	position: relative;
 }

 .wp-block-timeline-entry .entryCover {
	width: 100%;
	aspect-ratio: 4 / 2;
	background-size: contain;
}

.wp-block-timeline-entry .displayYear{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size:20vw;
	font-weight: bolder;
	z-index: 10;
}
.wp-block-timeline-entry .displayYear.displayCentury{
	right: 90%;
}
.wp-block-timeline-entry .displayYear.displayDecade{
	left: 90%;
}

.wp-block-timeline-entry :is(.block-editor-inner-blocks){
	// background-color: white;
	backdrop-filter:blur(50px) ;
	padding: 2rem;
	margin-top: -2rem;
}

@media screen and (orientation:portrait){
	.wp-block-timeline-entry .entryCover {
		width: 100%;
		aspect-ratio: 2 / 2;
	
	}
}

